/* Semantic UI Overrides */
.app .ui.menu {
  background-color: var(--d3b-gray);
  border-radius: 0;
}

.app .ui.menu .item:before {
  background: none;
}

.app .ui.menu a {
  color: var(--d3b-lightgray);
  font-size: 18px;
}

.app .ui.menu a:hover {
  color: var(--d3b-brightblue);
}

.app .ui.menu i.icon {
  color: var(--d3b-lightgray);
  margin: 0 5px;
}

.app .ui.menu i.icon.chevron {
  font-size: 0.75em;
}
