.header h2,
.header h3 {
  margin: 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__text {
  display: flex;
  flex-flow: column;
}

.header__controls {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .header__controls {
    flex-flow: column;
  }

  .header__controls > * {
    width: 100%;
  }
}

.header__searchbar {
  margin: 0 0;
}

i.icon.header__controls-view-icon {
  margin: 0 0 !important;
}

i.inverted.bordered.icon.header__controls-view-icon,
i.inverted.circular.icon.header__controls-view-icon {
  background-color: var(--d3b-mediumgray) !important;
  margin: 0 0 !important;
}

i.inverted.bordered.icon.header__controls-view-icon:hover,
i.inverted.circular.icon.header__controls-view-icon:hover {
  background-color: var(--d3b-brightblue) !important;
  margin: 0 0 !important;
}

i.inverted.bordered.icon.header__controls-view-icon--selected,
i.inverted.circular.icon.header__controls-view-icon--selected {
  background-color: var(--d3b-blue) !important;
  margin: 0 0 !important;
}

.ui.inline.loader.active,
.ui.inline.loader.visible {
  display: flex !important;
}
