.attribute-details .header {
  margin: 20px 0;
}

/* Semantic UI Overrides */
.attribute-details .ui.menu .item {
  font-size: 14px;
}

.attribute-details .ui.tabular.menu .active.item {
  color: var(--d3b-blue) !important;
}
