/* Semantic UI Overrides */
.app-header.ui.menu {
  border-radius: 0;
}

.app-header.ui.menu .item {
  color: var(--kf-blue);
  font-size: 18px;
}

.app-header.ui.menu .item:hover {
  background-color: unset;
}

.app-header.ui.menu .item:before {
  background: none;
}

.app-header.ui.menu a {
  color: var(--kf-blue);
  font-size: 18px;
}

.app-header.ui.menu i.icon {
  color: var(--kf-blue);
  margin: 0 5px;
}

.app-header.ui.menu i.icon.chevron {
  font-size: 0.75em;
}

.app-header .ui.dropdown .menu {
  font-size: 14px;
}

.app-header.ui.menu .ui.dropdown .menu > .item {
  color: var(--d3b-lightgray) !important;
  text-decoration: underline;
}

.app-header.ui.menu .ui.dropdown .menu > .item a {
  font-size: 14px;
}

.app-header.ui.link.menu .item:hover,
.app-header.ui.menu .dropdown.item:hover,
.app-header.ui.menu .link.item:hover,
.app-header.ui.menu a:hover,
.app-header.ui.menu .active.item,
.app-header.ui.menu .ui.dropdown .menu > .item:hover {
  color: var(--kf-lightblue) !important;
  background-color: #fff !important;
}

.app-header .ui.dropdown .menu > .header {
  text-transform: none;
  font-size: 14px;
  color: var(--kf-blue);
}

.app-header.ui.menu .ui.dropdown .menu > .item {
  color: var(--kf-blue) !important;
}
