.homepage {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.homepage__section-resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#homepage__card-description {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.homepage__card-description-count {
  align-self: flex-end;
  color: var(--d3b-brightblue);
  font-weight: bold;
  font-size: 16px;
}

/* Semantic UI Overrides */

.homepage .ui.card,
.homepage .ui.card:first-child,
.homepage .ui.card:last-child {
  margin: 20px 0;
}

.ui.card,
.ui.cards > .card {
  max-width: calc(100% - 40px) !important;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  overflow-wrap: break-word;
  color: var(--d3b-blue) !important;
}

.ui.card > .content > .description,
.ui.cards > .card > .content > .description {
  overflow-wrap: break-word;
}

.ui.input {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .ui.input {
    width: auto;
  }
}

.ui.input.focus > input,
.ui.input > input:focus {
  border-color: var(--d3b-brightblue) !important;
}

.ui.search > .results {
  width: 100% !important;
}

#homepage__card-description > i.inverted.bordered.icon,
#homepage__card-description > i.inverted.circular.icon {
  background-color: var(--d3b-blue) !important;
  width: 90px !important;
  height: 90px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

i.icon {
  cursor: pointer;
  color: var(--d3b-brightblue);
}

i.icon.chevron.up,
i.icon.chevron.down {
  font-size: 1.5em;
}

.ui.selection.dropdown {
  margin-top: 10px;
}

.ui.selection.dropdown,
.ui.selection.dropdown .menu > .item {
  text-align: center;
}

.ui.selection.active.dropdown:hover,
.ui.selection.dropdown:focus,
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border-color: var(--d3b-brightblue) !important;
}

@media screen and (max-width: 768px) {
  .ui.selection.dropdown {
    width: 100%;
  }
}
