.homepage {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
}

.homepage__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.homepage__section-controls {
  margin-top: 20px;
  display: flex;
}

.homepage__section-controls > p {
  color: var(--kf-purple);
  margin: 0 5px;
  cursor: pointer;
}

.homepage__section {
  padding: 20px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
}

.homepage__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage__section-header > h3 {
  margin: 0;
}

.homepage__section-resources {
  display: flex;
  flex-wrap: wrap;
}

/* Semantic UI Overrides */

.ui.card,
.ui.card:first-child {
  margin: 20px 20px !important;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  overflow-wrap: break-word;
  color: var(--kf-teal) !important;
}

.ui.card > .content > .description,
.ui.cards > .card > .content > .description {
  overflow-wrap: break-word;
}

.ui.input {
  width: 500px;
}

.ui.input > input:focus {
  color: var(--kf-teal);
}

.ui.search > .results {
  width: 100%;
}

i.icon {
  cursor: pointer;
  color: var(--kf-purple);
}

i.icon.chevron.up,
i.icon.chevron.down {
  font-size: 1.5em;
}
