.homepage {
  display: flex;
  flex-flow: column;
  padding: 20px 20px;
  width: 100%;
}

.homepage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 768px) {
  .homepage__header {
    flex-flow: column;
  }

  .homepage__header > * {
    width: 100%;
  }
}

.homepage__header-title {
  display: flex;
}

.homepage__header-title h2 {
  margin: 0 5px;
}

.homepage__count {
  color: var(--d3b-blue);
}

.homepage__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .homepage__searchbar {
    width: 100%;
  }
}

.homepage__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .homepage__controls {
    flex-flow: column;
  }

  .homepage__controls > * {
    width: 100%;
  }
}

.homepage__controls-tabs {
  margin-top: 20px;
  display: flex;
}

.homepage__controls-tabs > p {
  color: var(--d3b-brightblue);
  margin: 0 5px;
  cursor: pointer;
}

.homepage__controls-view {
  display: flex;
  margin: 10px 0;
}

i.icon.homepage__controls-view-icon {
  margin: 0 0 !important;
}

i.inverted.bordered.icon.homepage__controls-view-icon,
i.inverted.circular.icon.homepage__controls-view-icon {
  background-color: var(--d3b-mediumgray) !important;
  margin: 0 0 !important;
}

i.inverted.bordered.icon.homepage__controls-view-icon:hover,
i.inverted.circular.icon.homepage__controls-view-icon:hover {
  background-color: var(--d3b-brightblue) !important;
  margin: 0 0 !important;
}

i.inverted.bordered.icon.homepage__controls-view-icon--selected,
i.inverted.circular.icon.homepage__controls-view-icon--selected {
  background-color: var(--d3b-blue) !important;
  margin: 0 0 !important;
}

.homepage__section {
  padding: 20px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
}

.homepage__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage__section-header > h3 {
  margin: 0;
}

.homepage__section-resources {
  display: flex;
  flex-wrap: wrap;
}

#homepage__card-description {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.homepage__card-description-count {
  align-self: flex-end;
  color: var(--d3b-brightblue);
  font-weight: bold;
  font-size: 16px;
}

.homepage tr {
  cursor: pointer;
}

.homepage thead > tr:hover,
.homepage thead > td:hover {
  background-color: inherit;
}

.homepage tr:hover,
.homepage td:hover {
  background-color: var(--d3b-hoverblue);
}

/* Semantic UI Overrides */

.ui.card,
.ui.card:first-child {
  margin: 20px 20px !important;
}

.ui.card,
.ui.cards > .card {
  max-width: calc(100% - 40px) !important;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  overflow-wrap: break-word;
  color: var(--d3b-blue) !important;
}

.ui.card > .content > .description,
.ui.cards > .card > .content > .description {
  overflow-wrap: break-word;
}

.ui.input {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .ui.input {
    width: auto;
  }
}

.ui.input.focus > input,
.ui.input > input:focus {
  border-color: var(--d3b-brightblue) !important;
}

.ui.search > .results {
  width: 100%;
}

#homepage__card-description > i.inverted.bordered.icon,
#homepage__card-description > i.inverted.circular.icon {
  background-color: var(--d3b-blue) !important;
  width: 90px !important;
  height: 90px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

i.icon {
  cursor: pointer;
  color: var(--d3b-brightblue);
}

i.icon.chevron.up,
i.icon.chevron.down {
  font-size: 1.5em;
}

.ui.selection.dropdown {
  margin-top: 10px;
}

.ui.selection.dropdown,
.ui.selection.dropdown .menu > .item {
  text-align: center;
}

.ui.selection.active.dropdown:hover,
.ui.selection.dropdown:focus,
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border-color: var(--d3b-brightblue) !important;
}

@media screen and (max-width: 768px) {
  .ui.selection.dropdown {
    width: 100%;
  }
}
