.login {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.login h3 {
  margin: 0;
}

.login__content {
  box-shadow: 0 2px 5px #ccc;
  padding: 20px 20px;
  background: #fff;
  border-radius: 5px;
}

.login__content form {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.login__content-buttons {
  display: flex;
  justify-content: space-between;
}

.login .ui.input {
  margin: 10px 0;
}

.login .ui.button {
  width: max-content;
  margin: 10px 0;
}
