.resource-details {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px 20px;
}

.resource-details__header {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
}

.resource-details__header-title {
  display: flex;
  font-size: 18px;
  color: var(--d3b-gray);
  align-items: center;
}

.resource-details__header-title h2 {
  margin: 0 5px;
}

.resource-details__count {
  font-size: 32px;
  color: var(--d3b-blue);
  margin: 0 5px;
}

.resource-details__queries {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.resource-details__queries-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.resource-details__query {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 20px 30px;
  cursor: pointer;
  flex: 1;
}

.resource-details__query-count {
  flex: 1 0 auto;
}

.resource-details__query-pie {
  width: 500px;
}

.resource-details__query-bar {
  width: 100%;
  max-height: 500px;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  .resource-details__query-pie {
    width: 100%;
  }
}

/* Semantic UI overrides */

.ui.breadcrumb {
  margin: 0;
}

.ui.active.modal {
  width: 80%;
}

/* Recharts overrides */
.recharts-layer.recharts-cartesian-axis-tick {
  font-size: 10px;
}
