.resource-details {
  display: flex;
  flex-flow: column;
}

.resource-details__fields {
  display: flex;
  flex-wrap: wrap;
}

.resource-details__field {
  width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
