.resource-details {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.resource-details h2 {
  margin: 10px 0;
}

.resource-details__queries {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.resource-details__query {
  width: 450px;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.resource-details__query-count {
  font-size: 24px;
  margin: 10px 10px;
}

/* Semantic UI overrides */

.ui.breadcrumb {
  margin: 0;
}
