.results-table {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  width: 100%;
}

.results-table__body > * {
  outline: none;
}

.results-table__cell {
  margin: 0px 10px;
}
