.server-configuration {
  display: flex;
  flex-flow: column;
  width: 100%;
}

/* Semantic UI overrides */

.server-configuration__modal .ui.form {
  display: flex;
  flex-flow: column;
}

.server-configuration__modal .ui.input {
  margin: 10px 0;
}

.server-configuration .ui.button {
  width: fit-content;
}

.server-configuration__modal .ui.button {
  width: fit-content;
  margin-top: 20px;
}

.server-configuration__modal .ui.selection.dropdown {
  width: fit-content;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
