.server-configuration {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px 20px;
}

.server-configuration__options {
  display: flex;
  flex-flow: wrap;
}

/* Semantic UI overrides */
.server-configuration .ui.card > .content > .header:not(.ui),
.server-configuration .ui.cards > .card > .content > .header:not(.ui) {
  display: flex;
  justify-content: space-between;
}

.server-configuration__modal .ui.form {
  display: flex;
  flex-flow: column;
}

.server-configuration__modal .ui.form textarea {
  display: flex;
  flex-flow: column;
  font-family: monospace;
}

.server-configuration__modal .ui.input {
  margin: 10px 0;
}

.server-configuration .ui.button {
  width: fit-content;
  margin-left: 20px;
}

.server-configuration__modal .ui.button {
  width: fit-content;
  margin-top: 20px;
}

.server-configuration__modal .ui.selection.dropdown {
  width: fit-content;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
