.app {
  display: flex;
  flex-flow: column;
  margin: 10px 10px;
}

.app_query {
  margin: 30px 10px;
}

.app_query-input {
  margin: 0 10px;
  width: 50%;
  height: 30px;
  outline: none;
  font-size: 16px;
}

.app_result-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
