.app {
  display: flex;
  flex-flow: column;
  margin: 10px 10px;
}

.app_query {
  display: flex;
  align-items: center;
}

.app_query-input {
  margin: 0 10px;
  width: 50%;
  height: 30px;
  outline: none;
  font-size: 16px;
}

.app_result-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.result {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid black;
  margin: 10px 10px;
}

.result:first-child {
  border-top: 1px solid black;
}

.result-header {
  font-weight: bold;
  text-transform: capitalize;
}
