:root {
  --d3b-black: #000;
  --d3b-gray: #393939;
  --d3b-mediumgray: #d1d1d1;
  --d3b-lightgray: #f3f3f3;
  --d3b-blue: #005788;
  --d3b-brightblue: #41b6e6;
  --d3b-hoverblue: rgba(65, 182, 230, 0.4);
}

body {
  font-family: Rubrik, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--d3b-lightgray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Rubrik, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 24px;
  color: var(--d3b-gray);
}

h2 {
  font-size: 18px;
  color: var(--d3b-blue);
}

h3 {
  font-size: 16px;
  color: var(--d3b-gray);
}

h4 {
  font-size: 14px;
  color: var(--d3b-blue);
  font-weight: bold;
}

h5 {
  font-size: 12px;
  color: var(--d3b-blue);
}

a {
  color: var(--d3b-brightblue);
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

/* Semantic UI overrides */
.ui.inverted.dimmer .ui.loader.active,
.ui.loader.active {
  display: flex;
  flex-flow: column;
  width: 200px;
}

.ui.inverted.dimmer .ui.loader.active p,
.ui.loader.active p {
  margin-top: 40px;
}
